fastapi==0.115.0
uvicorn[standard]==0.30.6
faster-whisper==1.0.3
funasr==1.2.7
numpy==1.26.4
onnxruntime-gpu==1.23.2
requests==2.32.5
jiwer==4.0.0
git+https://github.com/speechbrain/speechbrain.git@develop
# modal==1.2.2 # for hosting on modal
# openai==2.8.1 # for using openai api
# pyannote.audio==4.0.1